.center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: $text-primary;
  }
}

.success-title {
  padding: 5px;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: $success;
  background-color: $success-lightness;
  border: 1px solid $success-light;
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;

  &__label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-size: 14px;
    color: $text-primary;
  }

  &__email,
  &__password,
  &__name {
    &:focus {
      background-color: $primary-lightness;
      border-color: $primary;
    }
  }

  &__label:not(:first-child) {
    margin-top: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 40px;
    font-size: 16px;
    font-weight: 900;
  }

  input + input,
  span + input,
  &__btn,
  &__forgot {
    margin-top: 20px;
  }

  &__forgot {
    font-size: 14px;
    color: $text-primary;
    text-align: end;
  }
}

.has-error {
  background-color: $error-lightness;
  border-color: $error-light;
}

.valid-input {
  background-color: $success-lightness;
  border-color: $success-light;
}

.message-input {
  max-width: 205px;
  margin-top: 5px;
}

.text-error {
  font-size: 12px;
  color: $error;
}
