$primary: hsl(158, 10, 50%);
$primary-light: hsl(158, 10, 60%);
$primary-lightness: hsl(158, 10, 100%);
$primary-dark: hsl(158, 10, 30%);
$primary-darkness: hsl(158, 10, 10%);

$success: hsl(115, 88%, 50%);
$success-light: hsl(115, 88%, 60%);
$success-lightness: hsl(115, 88%, 80%);
$success-dark: hsl(115, 88%, 40%);
$success-darkness: hsl(115, 88%, 30%);
