$primary: hsl(158, 10, 50%);
$primary-light: hsl(158, 10, 60%);
$primary-lightness: hsl(158, 10, 100%);
$primary-dark: hsl(158, 10, 30%);
$primary-darkness: hsl(158, 10, 10%);

$success: hsl(115, 42%, 50%);
$success-light: hsl(115, 42%, 79%);
$success-lightness: hsl(115, 100%, 98%);
$success-dark: hsl(115, 88%, 40%);
$success-darkness: hsl(115, 88%, 30%);

$error: hsl(0, 42%, 50%);
$error-light: hsl(0, 42%, 79%);
$error-lightness: hsl(0, 100%, 98%);

$background: hsl(0, 0, 94%);
$background-input: hsl(0, 0, 97%);