@import './_variables.scss';
@import './_auth.scss';

$assets: '/assets/fonts';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('#{$assets}/subset-Roboto-Bold.woff2') format('woff2'),
    url('#{$assets}/subset-Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('#{$assets}/subset-Roboto-Regular.woff2') format('woff2'),
    url('#{$assets}/subset-Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url('#{$assets}/subset-Roboto-BoldItalic.woff2') format('woff2'),
    url('#{$assets}/subset-Roboto-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url('#{$assets}/subset-Roboto-Black.woff2') format('woff2'),
    url('#{$assets}/subset-Roboto-Black.woff') format('woff');
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: $primary-darkness;
  }
}

button {
  color: $primary-lightness;
  cursor: pointer;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  outline: none !important;
  transition: background-color 0.3s linear;

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
  }

  &:hover,
  &:focus {
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-lightest;
  }
}

input {
  height: 40px;
  padding-left: 10px;
  background-color: $background-input;
  border: 1px solid $primary-light;
  border-radius: 5px;
  outline: none !important;
}
