@import './_variables.scss';
@import './_auth.scss';

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: $primary-darkness;
  }
}

button {
  color: $primary-lightness;
  cursor: pointer;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  outline: none !important;
  transition: background-color 0.3s linear;

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
  }

  &:hover,
  &:focus {
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-lightest;
  }
}

input {
  height: 40px;
  padding-left: 10px;
  background-color: $background-input;
  border: 1px solid $primary-light;
  border-radius: 5px;
  outline: none !important;
}
